/* Layout */
.screen {
  min-height: 100vh;
  background: #f3f4f6;
  font-family: Arial, sans-serif;

  /* Center everything */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Main content */
.main-content {
  width: 100%;
  max-width: 1400px;
  padding: 35px 80px;
}

.title {
  text-align: center;
  font-size: 50px;
  font-family: 'Montserrat Regular', sans-serif;
  color: var(--text);
  margin-bottom: 20px;
}

.section-title {
  font-size: 25px;
  margin-bottom: 15px;
  font-family: "Montserrat Regular";
  color: var(--text);
}